{% extends "base.html" %}

{% block extra_css %}
<style>
    .waterfall-visualizer {
        height: 400px;
    }
    
    x-star-rating {
        font-family: 'Ionicons';
        font-size: 20px;
        display: inline-flex;
        cursor: pointer;
        letter-spacing: .2rem;
    }
    
    x-star-rating > .star::after {
        content: '\f251';
        color: #777;
    }
    
    x-star-rating > .star.full::after {
        content: '\f251';
        color: #fd0;
    }    

    /* Content codes: https://github.com/rstacruz/iconfonts/blob/master/stylesheets/ionicons.styl */

</style>
<link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}


{% block content %}

<table>
    <tr>
        <td>ABC Notation</td>
        <td>
            Sheet Music
        </td>
        <td>
            Rating <a target="_blank" href="https://www.youtube.com/watch?v=rdJtb1RdkBY">(?)</a>: 
            <x-star-rating value="{{object.musicscorerating_set.all.0.rating}}" number="9"></x-star-rating>
        </td>
    </tr>
    
    <tr>
        <td><textarea style="height:300px;width:300px" id="abc">{{object.abcnotation}}</textarea></td>
        <td colspan=2>
            <div id="paper"></div>
            <div id="warnings"></div>
        </td>
    </tr>
    
    <tr>
        <td>
            <a class="btn btn-warning" href="{% url 'score-musicxml' object.id %}">Download MusicXML File</a><br>
            <a class="btn btn-info" href="{% url 'score-midi' object.id %}">Download MIDI File</a>
        </td>
        <td>
            <div>
                <midi-player src="{% url 'score-midi' object.id %}" sound-font visualizer="#myVisualizer">
                </midi-player>
            </div>
            <div id="waterfall">
                <midi-visualizer showOnlyOctavesUsed="true" type="waterfall" id="myVisualizer"></midi-visualizer>
            </div>
        </td>
    </tr>
</table>

{% endblock %}



{% block extra_js %}
<script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>
<script src="https://cdn.jsdelivr.net/npm/abcjs@6.0.0/dist/abcjs-basic-min.js" ></script>

<script>
    const visualizer = document.getElementById("myVisualizer");
    
    visualizer.config = {
        showOnlyOctavesUsed: true, 
        activeNoteRGB: "255,00,00",
        noteRGB: "00,00,255",
    };
    
    window.onload = function() {
        abc_editor = new window.ABCJS.Editor("abc", { 
            canvas_id: "paper", 
            warnings_id:"warnings" 
        }); 
    }
    
</script>

<script>
    // Approach from: https://github.com/GeekLaunch/star-rating
    class StarRating extends HTMLElement {
        get value () {
            return this.getAttribute('value') || 0;
        }
        
        set value (val) {
            this.setAttribute('value', val);
            this.highlight(this.value - 1);
        }
        
        get number () {
            return this.getAttribute('number') || 5;
        }
        
        set number (val) {
            this.setAttribute('number', val);
            
            this.stars = [];
            
            while (this.firstChild) {
                this.removeChild(this.firstChild);
            }
            
            for (let i = 0; i < this.number; i++) {
                let s = document.createElement('div');
                s.className = 'star';
                this.appendChild(s);
                this.stars.push(s);
            }
            
            this.value = this.value;
        }
        
        highlight (index) {
            this.stars.forEach((star, i) => {
                star.classList.toggle('full', i <= index);
            });
        }
        
        constructor () {
            super();
            
            this.number = this.number;
            
            this.addEventListener('mousemove', e => {
                let box = this.getBoundingClientRect(),
                starIndex = Math.floor((e.pageX - box.left) / box.width * this.stars.length);
                
                this.highlight(starIndex);
            });
            
            this.addEventListener('mouseout', () => {
                this.value = this.value;
            });
            
            this.addEventListener('click', e => {
                let box = this.getBoundingClientRect(),
                starIndex = Math.floor((e.pageX - box.left) / box.width * this.stars.length);
                
                this.value = starIndex + 1;
                
                let rateEvent = new Event('rate');
                this.dispatchEvent(rateEvent);

                console.log(this.value);

                $.ajax({
                    type: "POST",
                    url: 'update_rating',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'score_id': 20, 
                        'rating': this.value
                    },
                    success: function( data ) {
                        console.log( "Returned");
                        console.log( data );
                      }
                  });
            });
        }
    }
    
    customElements.define('x-star-rating', StarRating);
    
    
</script>
{% endblock %}
